@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    @apply flex flex-col w-64 bg-gray-800 h-screen text-white p-4;
}

.navbar, .navbar-top, .navbar-bottom {
    @apply flex flex-col;
}

.navbar {
    @apply flex flex-col justify-between h-screen;
}

.navbar-bottom hr {
    @apply mb-4;
}

.navlink {
    @apply mb-4 p-2 rounded hover:bg-gray-700;
}

.navlink.active {
    @apply bg-gray-700;
}

.header {
    @apply w-full bg-gray-800 p-4 flex justify-between;
}

.header-left {
    @apply text-2xl text-white;
}

.header-right {
    @apply text-white mt-1;
}

.username {
    @apply flex gap-3;
}

.username.photo{
    @apply pt-1 pb-1 rounded-full;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box {
    background-color: rgb(255, 8, 0);
    padding: 20px;
    text-align: center;
  }

.gridL{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px;
}

.boxL {
    background-color: rgb(255, 8, 0);
    padding: 200px;
    width: 490px;
    text-align: center;
    margin-top: 25px;
  }

.Usercard {
    @apply bg-gray-800 h-56 w-52 rounded-3xl text-white text-center shadow-2xl shadow-gray-800 border border-solid border-blue-900;
}

.usercardButton {
    @apply bg-blue-900 rounded w-20 text-white hover:bg-gray-700 mt-5;
}

.Grid{
    @apply grid grid-cols-4 gap-2 my-6 ml-4;
}

.btnSave {
    @apply w-full bg-blue-500 text-black py-2 px-4 rounded-md
    hover:bg-blue-600 focus:outline-none focus:ring-2
    focus:ring-blue-500 focus:ring-opacity-55;
}

.formInput {
    @apply mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
}